/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Variables */
:root {
    --primary: #001845;
    --secondary: #023e7d;
    --tertiary: #910505;
    --quaternary: #ff9804;
  }

/* Base Styles */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1 {
    color: var(--primary);
    font-size: 3em;
    font-weight: 700;
    line-height:1.2em;

}

h2 {
    color: var(--secondary);
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 15px;
}

h3 {
    color: var(--primary);
    font-size:1.8em;
    font-weight: 500;
}

h4 {
    color: var(--quaternary);
    font-size:1.5em;
    font-weight: 600;
}

p {
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    text-align: justify;
    padding:10px 0;
}

a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 1em;
}

img {
    text-align: center;
}

/* Header e Menu */
.top-bar {
    padding-left:10px;
    padding-right:10px;
}

.top-bar a:hover {
    color: var(--quaternary);
}

header {
    display: flex;
    justify-content: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    gap:2.5em;
}

.logo, .menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    color:var(--secondary);
    font-weight: 700;
    border: 2px solid transparent;

}

nav a:hover {
    color: var(--quaternary);
    border: 2px solid var(--quaternary);
    border-radius: 50px;
}

nav .active a {
    color: #fff;
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 50px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-left: 3px;  
}

nav .active a:hover {
    background-color: transparent;
    box-shadow: none;
    color: var(--secondary);
    transition-duration: 0.3s;
}

/* Body */
section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-header {
    cursor: pointer;
    background-color: transparent; 
    border: 3px solid var(--quaternary);
	border-radius:100px;
    color: var(--quaternary);
    padding: 10px 20px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight:700;
	transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-header:hover {
	background-color: #ffb347;
    color: #fff;
	box-shadow: none;
}

.container {
    display:flex;
    justify-content: center;
    padding: 40px 20px;
}

.mid-section {
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
}

.btn-mid {
    cursor: pointer;
    background-color: transparent; 
    border: 3px solid var(--secondary);
	border-radius:100px;
    color: var(--secondary);
    padding: 10px 20px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight:700;
	transition-duration: 0.2s;
}

.btn-mid:hover {
	background-color: var(--secondary);
    color: #fff;
}

span i {
    background-color: #fff;
    border-radius: 8px;
    margin: 20px 0;
    padding: 25px;
}

.container-items {
    text-align: center;
    margin: 25px auto;
    width: 300px;
}

.container-items h3 {
    font-size: 20px;
}

.container-items span {
    font-size: 38px;
    color: var(--secondary);
}

.plans {
    gap: 3rem;
}

.price-card {
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.price-card p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.price-card span {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

/* Testimonial Slides */
.hero {
    position: relative; 
    margin: 0;
}

.hero .slide-container .slide {
    border-radius: 8px;
    background-color: #eee;
    width: 600px;
    padding: 25px;
    margin: auto auto 60px auto;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.hero .slide-container {
    display: none;
}

.hero .slide-container.active {
    display: block;
}

.hero #next,
.hero #previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--secondary);
}

.hero #next:hover,
.hero #previous:hover {
    background-color: #eee;
    border-radius: 8px;
}

.hero #next {
    right: 250px;
}

.hero #previous {
    left: 250px;
}

/* Contact Form */
.card-form {
    padding:0 10px;
}

input#form-name, input#form-mail, input#form-tel, input#form-company, textarea#form-message {
    width:200px;
    background-color: transparent;
    border: 2px solid var(--quaternary);
    border-radius: 8px;
    font-size: 18px;
    color: var(--quaternary);
    padding:5px 10px;
    margin-bottom: 10px;
    resize: none; 
    width:400px;
}

textarea#form-message {
    margin-top: 5px;
    height: 200px;
}

::-webkit-input-placeholder {
    color: var(--secondary);
 }
 
 :-moz-placeholder {
    color: var(--secondary);
 }
 
 ::-moz-placeholder {
    color: var(--secondary);
 }
 
 :-ms-input-placeholder {  
    color: var(--secondary);
 }

input#form-btn {
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--quaternary);
    border-radius: 8px;
    font-size: 16px;
    color: var(--quaternary);
    display: inline-block;
    width:100px;
}

/* Footer */
footer {
    background-color: #ffefd6;
}
.footer-flex {
    padding-left:20px;
    padding-right:20px;
}

.social-midia-footer {
    font-size:30px;
    padding:7px;
}

/* Responsividade */
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin:40px;
}

#menuBars {
    color: #fff;
    font-size:20px;
    padding: 10px;
    border: 2px solid var(--quaternary);
    border-radius:8px;
    background-color: var(--quaternary);
}

@media (max-width:768px) {
    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    header {
        height: auto;
    }
        
    .menuMobile {
        display: flex;
        flex-direction: column;
    }

    .container-header {
        gap: 0;
    }

    #banner {
        height: auto;
    }

    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 40px;
    }

    .banner_headline h2 {
        font-size: 18px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .second-container {
        flex-direction: column-reverse;
    }

    #main section, #main aside {
        padding: 20px;
    }

    .hero .slide-container .slide {
        width: 320px;
    }

    .hero #next {
        right: 10px;
    }
    
    .hero #previous {
        left: 10px;
    }

    input#form-name, input#form-mail, input#form-tel, input#form-company, textarea#form-message {
        width: 250px;
    }

    input#form-name {
        margin-top: 20px;
    }

    .footer-logo {
        padding-bottom: 25px;
    }

    .footer_box, .footer_area {
        flex-direction: column;
    }

    .social-container {
        flex-direction: row;
    }

    .footer_area, .footer-flex {
        padding: 20px;
    }
}
